#panel{
    width: 600px;
    height: 300px;
    border: 1px solid #999;
    position: relative;
}
#bar{
    position: absolute;
    left: 60px;
    top:190px;
    width:500px;
    height: 15px;
    background-color: #F33;
}
#gigu{
    width: 80px;
    position: absolute;
    height: 170px;
    top: 160px;

}
#btn {
    text-align: center;
    width: 600px;
}
